<div class="libros-contenedor-row">
  <div class="libros-contenedor-filtros">
    <form>
      <div class="input-group input-group-sm libros-contenedor-filtros-diferentes">
        <h3>Buscar Libro/Autor</h3>
        <div class="input-group-prepend">
          <span class="input-group-text"> <i [ngClass]="oIconService.getIcon('filtro')" (click)="strFilter=''; this.getPage()"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="{{'Filtro de ' + strTitlePlural}}" placeholder="Search"
          (keyup)="onKeyUpFilter($event)" [(ngModel)]="strFilter" name="buscar" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm" />
      </div>
      <div class="input-group input-group-sm libros-contenedor-filtros-diferentes">
        
        <h3>Buscar por Género</h3>
        <div class="input-group-prepend">
          <span class="input-group-text"> <i [ngClass]="oIconService.getIcon('filtro')" (click)="genero=''"></i></span>
        </div>
        <input type="text" class="form-control" id="genero" readonly placeholder="{{'Filtro de Género'}}" placeholder="Search"
          (keyup)="onKeyUpFilter($event)" [(ngModel)]="genero" name="genero" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm" />
          <button type="button" class="btn btn-success" id="botonProducto" (click)="openModal()">
            Buscar Género
          </button>
        </div>
        
    </form>
  </div>
  <div class="libros-contenedor-libros">
    <mat-card class="example-card" *ngFor="let libro of aLibros">
      <mat-card-header>

        <mat-card-title><a [href]="'libro/'+libro.id"> {{libro.titulo}} </a></mat-card-title>
        <mat-card-subtitle>{{libro.tipolibro.genero}}</mat-card-subtitle>
      </mat-card-header>
      <div class="libros-img-centrar">
        <img mat-card-image [src]="'http://localhost:8082/file/' + libro.imagen"/>
        <div class="libros-img-centrar" *ngIf="libro.novedad==true"><span>Novedad</span></div> 
       </div>
      <mat-card-actions>
        <app-star-rate></app-star-rate> 
      </mat-card-actions>
    </mat-card>
  </div>

</div>