<div class="opinion-update">
    <div class="opinion-update-contenido">
        <h1><i [ngClass]="oIconService.getIcon('new')"></i>Editar Opinion</h1>
        <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()">
            <div>
                <div class="opinion-update-form-row">
                    <label for="login">Título</label>
                    <div>
                        <div>
                            <div>
                                <input type="text" class="form-control" id="titulo" formControlName="titulo"
                                    class="form-control" required="required"
                                    [ngClass]="{'is-valid' : f.titulo.dirty && !(f.titulo.errors?.required || f.titulo.errors?.minlength) }">
                                <div class="texto-muted" *ngIf="f.titulo.dirty && f.titulo.errors?.required"
                                    class="text-danger">
                                    Se debe introducir un Título válido
                                </div>
                                <div class="texto-muted" *ngIf="f.titulo.dirty && f.titulo.errors?.minlength"
                                    class="text-danger">
                                    El Título introducido es demasiado corto
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="opinion-update-form-row">
                    <label for="password">Cuerpo</label>
                    <div>
                        <div>
                            <div>
                                <textarea type="text" class="form-control" id="cuerpo" formControlName="cuerpo"
                                    class="form-control" rows="6" required="required"
                                    [ngClass]="{'is-valid' : f.cuerpo.dirty && !(f.cuerpo.errors?.required || f.cuerpo.errors?.minlength) }"></textarea>
                                <div *ngIf="f.cuerpo.dirty && f.cuerpo.errors?.required" class="text-danger">
                                    Se debe introducir una opinión válida
                                </div>
                                <div *ngIf="f.cuerpo.dirty && f.cuerpo.errors?.minlength" class="text-danger">
                                    La opinión introducida es demasiado corta
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="opinion-update-form-row">
                    <label for="fecha_publicacion">Fecha publicación</label>
                    <div>
                        <div>
                            <div>
                                <input type="text" name="fecha_publicacion" id="fecha_publicacion"
                                    formControlName="fecha_publicacion" class="text ui-widget-content ui-corner-all" />
                                <div *ngIf="f.fecha_publicacion.dirty && f.fecha_publicacion.errors?.required"
                                    class="text-danger">
                                    Se debe introducir una fecha de publicación correcta
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="opinion-update-form-row">
                <button mat-raised-button type="submit" class="update-opinion-boton"
                    [disabled]="oForm.invalid || oForm.pristine"><i [ngClass]="oIconService.getIcon('new')"></i>
                    Editar Opinión</button>
</div>
            </div>

        </form>
        <div class="opinion-update-form-row opinion-update-cancelar-centrar">
            <button mat-raised-button class="update-opinion-boton" (click)="closeModal()">Cancelar</button>
        </div>
    </div>
</div>