app-menu{        
  margin: 0;
  display: flex;
  justify-content: center;     
}

.contenedor{
  width: 70%;
  display:flex;
  flex-direction: column;
  margin:auto;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}


//Menu cuadrado
nav{  
  color: #fff;
  margin: 80px 0 40px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  width: 170px;
  height: 170px;
  text-align: center;
  /*-moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -webkit-transform: translateY(80px);
  transform: translateY(80px);*/
  background-color: black;
  list-style:none;
  border-radius: 15px;
  cursor: pointer;
}

nav a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro';
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.cuadrado-contenido-posicion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cuadrado-contenido-posicion i {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

 span {
  font-size: 1.5rem;
}

i {
  font-size: 2.5rem;
}

.boton:hover {
  background-color: #000;
/*  Making button bigger on hover  */
  transform: scale(1.2) perspective(1px);
  border-radius: 15px;
  transition: all 0.6s ease;
  background-color: #2dc60c;
  color: #000
}

.boton:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

