<app-menu></app-menu>

<div class="contenedor">
  <!--Se puede hacer por nth-child i no con tanta clase-->
  <h1 class="mat-h1">Dashboard Administrador</h1>
  <nav>
    <ul>
      <li class="boton" (click)="this.opcion=0">
          <div class="cuadrado-contenido-posicion">
            <div class="cuadrado-contenido-posicion"><i class="far fa-file-alt"></i></div>
            <div class="cuadrado-contenido-posicion"><span>Añadir</span></div>
          </div>
      </li>
      <li class="boton" (click)="this.opcion=1">
          <div class="cuadrado-contenido-posicion">
            <div class="cuadrado-contenido-posicion"><i class="fas fa-edit"></i></div>
            <div class="cuadrado-contenido-posicion"><span>Actualizar o Eliminar</span></div>
          </div>
        </li>
      <li class="boton" (click)="this.opcion=2">
          <div class="cuadrado-contenido-posicion">
            <div class="cuadrado-contenido-posicion"><i class="far fa-chart-bar"></i></div>
            <div class="cuadrado-contenido-posicion"><span>Gráficos</span></div>
          </div>
      </li>
      <li class="boton" (click)="this.opcion=3">
          <div class="cuadrado-contenido-posicion">
            <div class="cuadrado-contenido-posicion"><i class="	fas fa-envelope-square"></i></div>
            <div class="cuadrado-contenido-posicion"><span>Peticiones</span></div>
          </div>
      </li>
      <li class="boton" (click)="this.opcion=4">
          <div class="cuadrado-contenido-posicion">
            <div class="cuadrado-contenido-posicion"><i class="far fa-comment-dots"></i></div>
            <div class="cuadrado-contenido-posicion"><span>Opiniones</span></div>
          </div>
      </li>
    </ul>
  </nav>

  <!--Sección New-->
  <div class="grid-container" *ngIf="opcion==0">
    <h1 class="mat-h2">Añadir Elementos</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile [colspan]="( cardLayout | async )?.new_genero.cols"
        [rowspan]="( cardLayout | async )?.new_genero.rows">
        <mat-card class="dashboard-card">
          
            

              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
              <app-tipolibro-new-unrouted></app-tipolibro-new-unrouted>
            
          
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="( cardLayout | async )?.new_libro.cols" [rowspan]="( cardLayout | async )?.new_libro.rows">
        <mat-card class="dashboard-card">
          
            

              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>                            
              <app-libro-new-unrouted></app-libro-new-unrouted>
            
          
        </mat-card>
      </mat-grid-tile>
      
      <mat-grid-tile [colspan]="( cardLayout | async )?.new_usuario.cols"
        [rowspan]="( cardLayout | async )?.new_usuario.rows">
        <mat-card class="dashboard-card">
         
            

              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
              <app-usuario-new-unrouted></app-usuario-new-unrouted>
            
          
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<!--Sección Update-->
<div *ngIf="opcion==1">
  <app-menu-lista-update-delete></app-menu-lista-update-delete>
</div>

<!--Sección Peticiones-->
<div *ngIf="opcion==3">
  <app-menu-lista-peticiones></app-menu-lista-peticiones>
</div>

<!--Sección Opiniones-->
<div *ngIf="opcion==4">
  <app-opinion-lista-admin></app-opinion-lista-admin>
</div>

<app-footer></app-footer>