<div class="justify-content-between">
    <div class="col-md text-start">
      <h6>{{strFilteredMessage}}</h6>
    </div>
    
    <div class="col-md text-end">
      <h4 class="text-muted">{{nTotalElements}} {{strTitlePlural}}</h4>
    </div>
  </div>
  
  <div class="row justify-content-between">
    <div class="col-md text-start">
      <nav aria-label="pagination">
        <ul class="pagination">
          <li class="page-item" aria-current="page" *ngFor="let p of aPaginationBar"
            [ngClass]="{'active': (nPage+'' == p)}">
            <a class="page-link" (click)="nPage=(+p);jumpToPage()" href="#">{{p}}</a>
          </li>
        </ul>
      </nav>
    </div>
  
    <div class="col-md text-center">
      <form>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i [ngClass]="oIconService.getIcon('filtro')"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="{{'Filtro de ' + strTitlePlural}}" placeholder="Search"
            (keyup)="onKeyUpFilter($event)" [(ngModel)]="strFilter" name="buscar" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" />
        </div>
      </form>
    </div>
  
    <div class="col-md text-end">
      <div class="dropdown mb-3">
        <button class="usuario-boton dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          Registros por página: {{nPageSize}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" (click)="nPageSize=10;getPage()">10</a></li>
          <li><a class="dropdown-item" (click)="nPageSize=50;getPage()">50</a></li>
          <li><a class="dropdown-item" (click)="nPageSize=100;getPage()">100</a></li>
          <li><a class="dropdown-item" (click)="nPageSize=1000;getPage()">1000</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md table-responsive-md">
      <table class="table table-striped">
        <thead>
          <tr class="text-center align-middle">
            <th (click)="doSetOrder('id')"><i [ngClass]="oIconService.getIcon('id')"></i> ID
              <i [ngClass]="oIconService.getIcon('flechaUp')" *ngIf="strSortField=='id'&&strSortDirection=='asc'"></i>
              <i [ngClass]="oIconService.getIcon('flechaDown')"
                *ngIf="strSortField=='id'&&strSortDirection=='desc'"></i>
  
            </th>
          
            <th (click)="doSetOrder('login')">
              <i [ngClass]="oIconService.getIcon('usuario')"></i> Login
              <i [ngClass]="oIconService.getIcon('flechaUp')"
                *ngIf="strSortField=='login'&&strSortDirection=='asc'"></i>
              <i [ngClass]="oIconService.getIcon('flechaDown')"
                *ngIf="strSortField=='login'&&strSortDirection=='desc'"></i>
  
            </th>
            <th (click)="doSetOrder('password')">
              <i [ngClass]="oIconService.getIcon('nombre')"></i> Password
              <i [ngClass]="oIconService.getIcon('flechaUp')"
                *ngIf="strSortField=='password'&&strSortDirection=='asc'"></i>
              <i [ngClass]="oIconService.getIcon('flechaDown')"
                *ngIf="strSortField=='password'&&strSortDirection=='desc'"></i>
  
            </th>
            <th (click)="doSetOrder('email')">
              <i [ngClass]="oIconService.getIcon('email')"></i> Email
              <i [ngClass]="oIconService.getIcon('flechaUp')"
                *ngIf="strSortField=='email'&&strSortDirection=='asc'"></i>
              <i [ngClass]="oIconService.getIcon('flechaDown')"
                *ngIf="strSortField=='email'&&strSortDirection=='desc'"></i>
  
            </th>

            <th (click)="doSetOrder('nombre')">
              <i [ngClass]="oIconService.getIcon('nombre')"></i> Nombre
              <i [ngClass]="oIconService.getIcon('flechaUp')"
                *ngIf="strSortField=='nombre'&&strSortDirection=='asc'"></i>
              <i [ngClass]="oIconService.getIcon('flechaDown')"
                *ngIf="strSortField=='nombre'&&strSortDirection=='desc'"></i>  
            </th>
            <th (click)="doSetOrder('pais')">
              <i [ngClass]="oIconService.getIcon('nombre')"></i> País
              <i [ngClass]="oIconService.getIcon('flechaUp')"
                *ngIf="strSortField=='pais'&&strSortDirection=='asc'"></i>
              <i [ngClass]="oIconService.getIcon('flechaDown')"
                *ngIf="strSortField=='pais'&&strSortDirection=='desc'"></i>  
            </th>
            <th (click)="doSetOrder('intereses')">
              <i [ngClass]="oIconService.getIcon('nombre')"></i> Intereses
              <i [ngClass]="oIconService.getIcon('flechaUp')"
                *ngIf="strSortField=='intereses'&&strSortDirection=='asc'"></i>
              <i [ngClass]="oIconService.getIcon('flechaDown')"
                *ngIf="strSortField=='intereses'&&strSortDirection=='desc'"></i>  
            </th>
            
  
            <th><i [ngClass]="oIconService.getIcon('acciones')"></i> Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fila of aUsuarios"  class="align-middle">
            <td class="text-center">{{fila.id}}</td>
            <td class="text-center">{{fila.login}}</td>
            <td style="text-align: center;">{{fila.password}}</td>
            <td style="text-align: center;">{{fila.email}}</td>
            <td style="text-align: center;">{{fila.nombre}} {{fila.apellido1}} {{fila.apellido2}}</td>
            <td style="text-align: center;">{{fila.pais}}</td>
            <td style="text-align: center;">{{fila.intereses}}</td>
            <td class="text-center">
              
              <div class="btn-group btn-group-sm" role="group" *ngIf="mode">
                
                <button type="button" class="usuario-boton" (click)="this.id=this.fila.id; openModalUpdate(this.id)"><i
                    class="fas fa-pen"></i></button>
                <button type="button" class="usuario-boton" (click)="this.id=this.fila.id; openModalDelete(this.id)"><i
                    class="fas fa-trash"></i></button>
  
                <!-- 
                <ng-container *ngTemplateOutlet="toolTemplate; context: { $implicit: fila }"></ng-container>
                -->
  
              </div>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
