<app-menu></app-menu>

<div class="libro-view-centrar">
    
    <div class="libro-view-columna">
        <div class="libro-view-titulo"><h1>Ficha Técnica</h1></div>
        <div class="libro-view-row">
        <div class="libro-view-col-1">
            <div class="libro-view-col-1-img">
                <img mat-card-image [src]="'http://localhost:8082/file/' + oLibro?.imagen" height="400px"
                    width="300px" />
                <app-star-rate></app-star-rate>
            </div>
        </div>
        <div class="libro-view-col-3">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Título</th>
                        <td>{{oLibro?.titulo}}</td>
                    </tr>
                    <tr>
                        <th>Autor</th>
                        <td>{{oLibro?.autor}}</td>
                    </tr>
                    <tr>
                        <th>Código</th>
                        <td>{{oLibro?.codigo}}</td>
                    </tr>
                    <tr>
                        <th>Páginas</th>
                        <td>{{oLibro?.paginas}}</td>
                    </tr>
                    <tr>
                        <th>Género</th>
                        <td>{{oLibro?.tipolibro.genero}}</td>
                    </tr>
                    <tr>
                        <th>Resumen</th>
                        <td>{{oLibro?.resumen}}</td>
                    </tr>
                    <tr>
                        <th>Valoración</th>
                        <td><i class="fa fa-star fa-lg"><span>4.6</span></i></td>
                    </tr>

                </tbody>
            </table>
            
            <div class="row justify-content-center">

                <!--QUITAR BOOTSTRAP-->
                <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center mt-5">
                    <a class="view-libro-boton" [routerLink]="['/home']"> Página principal</a>
                    <a class="view-libro-boton" (click)="goBack()"> Volver
                    </a>
                    <button type="button" class="view-libro-boton" (click)="print(oLibro?.id)"><i
                            class="fas fa-print"><span>Ficha Técnica</span></i></button>
                </div>

            </div>


        </div>
    </div>
    </div>
</div>

<app-opinion-new-unrouted [id_libro]="oLibro?.id"></app-opinion-new-unrouted>

<app-opinion-lista-usuario [id_libro]="oLibro?.id"></app-opinion-lista-usuario>
<app-footer></app-footer>