app-menu{        
    margin: 0;
    display: flex;
    justify-content: center;     
}
.libro-view-centrar {
    display: flex;
    justify-content: center;
    
}

.libro-view-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:70%;
    padding: 10px 25px;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    //HAY QUE CAMBIAR EL IMPORTANT, LA TABLA ESTA CON BOOTSTRAP, CAMBIAR A CSS
    
  }
  .libro-view-col-1 {
    flex: 1;
    display: flex;
    justify-content: center;
    padding:60px 40px;
}
.libro-view-col-3 {
    flex: 3;
    padding:60px 40px;
    

}
.libro-view-col-1-img {
    display:flex;
    flex-direction: column;
    align-items: center;
}
td i {
    color: #ffd700;
}
i span {
    margin-left:0.5rem;
  }
app-star-rate{
    margin-top: 2rem;
} 
th,td,a,button {
    color: #fff ;
    font-size: 1.2rem;
} 