<app-menu></app-menu>
<div class="container my-3">

    <div class="row justify-content-center">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{oLibro?.id}}</td>
                </tr>
                <tr>
                    <th>Codigo</th>
                    <td>{{oLibro?.codigo}}</td>
                </tr>
                <tr>
                    <th>Titulo</th>
                    <td>{{oLibro?.titulo}}</td>
                </tr>
                <tr>
                    <th>Autor</th>
                    <td>{{oLibro?.autor}}</td>
                </tr>
                <tr>
                    <th>Paginas</th>
                    <td>{{oLibro?.paginas}}</td>
                </tr>                
                <tr>
                    <th>Tipo producto</th>
                    <td>{{oLibro?.tipolibro.genero}}</td>
                </tr>
                <tr>
                    <th>Imagen</th>
                    <td>({{oLibro?.imagen}}) <img [src]="'http://localhost:8082/file/' + oLibro?.imagen" style="height:100px" class="my-3" /></td>
                </tr>
                <tr>                    
                    <th>Resumen</th>
                    <td>{{oLibro?.resumen}}</td>
                </tr>

            </tbody>
        </table>

        <div class="row justify-content-center">
            <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center mt-5">
              <a class="btn btn-warning mx-2" [routerLink]="['/' + strEntity + '/edit/' + oLibro?.id]"> Modificarlo</a>
              <a class="btn btn-danger mx-2" [routerLink]="['/' + strEntity + '/remove/' + oLibro?.id]"> Borrarlo </a>
            </div>
      
            <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center mt-5">
              <a class="btn btn-primary mx-2" [routerLink]="['/home']"> Página
                principal</a>
              <a class="btn btn-primary mx-2" [routerLink]="['/' + strEntity + '/plist']"> Listado de {{strTitlePlural}}</a>
              <a class="btn btn-primary mx-2" (click)="goBack()"> Volver
              </a>
            </div>
      
          </div>


    </div>
</div>

<app-footer></app-footer>
