<app-menu></app-menu>
<div class="logout-flex-row">
    <div>
        <img src="../../../../../assets/img/test-libros.jpg" alt="imágen libros" width="400" height="600">
    </div>
    <div>
        <div class="logout-caja_logout">
            <div class="logout-flex">
                <h1>Logout</h1>
                <h3 class="">¿Está seguro de que quiere desconectarse?</h3>
                <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center">
                    <button class="logout-boton" (click)="closeSession()"> Salir de la sesión</button>
                    <button class="logout-boton" [routerLink]="['/home']"> Página
                        principal</button>
                    <button class="logout-boton" (click)="goBack()"> Volver </button>
                </div>                
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>