<app-menu></app-menu>
<app-header></app-header>
<app-libro-carousel></app-libro-carousel>
<div class="home-cajas-info">
    <div class="home-info-padre-izq">
        <div class="home-info-rectangulo" (click)="openModal()">
            <span>
                Registro
            </span>
            <span>
                Nuevo Usuario
            </span>
        </div> 
    </div>
    <div class="home-info-padre-der">
        <a (click)="openModal()"><div class="home-info-rectangulo">
            <span>
                Sin
            </span>
            <span>
                Funcionalidad
            </span>
        </div>
        </a>
    </div>
</div>
<app-footer></app-footer>