<footer>
    <div class="container my-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="../../../../../assets/img/bookaneros.png" width="200">
          <!--El parrafo de abajo estaba muted -> class="text-muted"-->
          <p>by Jose E. Primo
            <a href="https://github.com/josepg90">
              <i [ngClass]="oIconService.getIcon('github-alt')"> </i>
            </a> @2022<br><br>
            <a class="small" href="https://opensource.org/licenses/MIT">MIT Licensed</a>
          </p>        
        </div>
      </div>
    </div>
  </footer>
