<app-menu></app-menu>
<div class="profile-view-centrado">
    <div class="profile-view-interior-centrado">
        
        <ul class="usuario-menu">
            <li class="active"><span class="menu-active"><i [ngClass]="oIconService.getIcon('nombre')"></i>Opiniones</span></li>
            <li  [class.active]="strUrl=='/favoritos'" [routerLink]="['/favoritos']"><span class="menu-active"><i [ngClass]="oIconService.getIcon('fav')"></i>Favoritos</span></li>
            <li><span class="menu-active"><i [ngClass]="oIconService.getIcon('libro')"></i>Algo</span></li>
        </ul>

        <div class="usuario-datos-fila">


            <div class="usuario-datos-col imagen-usuario-centrar">
                <img src="../../../../../../assets/img/perfil.webp" height="180px" width="180px" />
            </div>
            <div class="usuario-datos-col2">
                <div class="usuario-view-botones-row">
                    <div class="boton-editar-izq">
                        <button class="usuario-view-botones" id="modal-component-update"
                            (click)="openModalUpdate(this.oUsuarioSession.id)">Editar Usuario
                            {{oUsuarioSession?.login}}</button>
                    </div>
                    <div class="boton-editar-izq">
                        <button class="usuario-view-botones" id="modal-component-delete"
                            (click)="openModalDelete(this.oUsuarioSession.id)">Eliminar Usuario
                            {{oUsuarioSession?.login}}</button>
                    </div>
                </div>
                <div class="usuario-datos-fila">
                    <div class="usuario-datos-col">
                        <div>
                            <div class="usuario-datos-fila">
                                <label>Nombre de usuario: </label>
                                <div class="final">{{oUsuarioSession?.login}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="usuario-datos-fila">
                                <label>Correo Electrónico: </label>
                                <div>{{oUsuarioSession?.email}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="usuario-datos-fila">
                                <label>Nombre: </label>
                                <div>{{oUsuarioSession?.email}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="usuario-datos-fila">
                                <label>Apellido: </label>
                                <div>{{oUsuarioSession?.email}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="usuario-datos-col">
                        <div>
                            <div class="usuario-datos-fila">
                                <label>Fecha de nacimiento: </label>
                                <div>{{oUsuarioSession?.login}}</div>

                            </div>
                        </div>
                        <div>
                            <div class="usuario-datos-fila">
                                <label>País: </label>
                                <div>{{oUsuarioSession?.email}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="usuario-datos-fila">
                                <label>Intereses: </label>
                                <!-- ESTARIA BIÉN HACER UNA LISTA CON LOS INTERESES Y GUARDAR LOS QUE SELECCIONE COMO STRING-->
                                <div>{{oUsuarioSession?.email}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="imagen-usuario-centrar">
            <button type="button" class="usuario-view-botones" [routerLink]="['/home']"><i class="fas fa-home"></i> Página
                principal</button>
            <button type="button" class="usuario-view-botones" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> Volver </button>
        </div>
    </div>
</div>

<app-footer></app-footer>