<app-menu></app-menu>

<app-header-no-home [title]="strTitleSingular"></app-header-no-home>

<div class="peticiones-new">
    <div class="peticiones-new-contenido">
        <h1>Escriba aquí su petición o sugerencia</h1>
        <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()">
            <div>
                <div class="peticiones-new-form-row">
                    <label for="titulo" class="col-sm-2 col-form-label">Título</label>
                    <div>
                        <div class="row mb-3">
                            <div>
                                <input type="text" class="form-control" id="titulo" formControlName="titulo" required="required"
                                    [ngClass]="{'is-valid' : f.titulo.dirty && !(f.titulo.errors?.required || f.titulo.errors?.minlength) }">
                                <div *ngIf="f.titulo.dirty && f.titulo.errors?.required" class="text-danger">
                                    Se debe introducir un título
                                </div>
                                <div *ngIf="f.titulo.dirty && f.titulo.errors?.minlength" class="text-danger">
                                    El titulo introducido es demasiado corto
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="peticiones-new-form-row">
                    <label for="peticion" class="col-sm-2 col-form-label">Petición</label>
                    <div>
                        <div class="row mb-3">
                            <div>
                                <textarea type="text" class="form-control" id="peticion" formControlName="peticion" rows="6" required="required"
                                    [ngClass]="{'is-valid' : f.peticion.dirty && !(f.peticion.errors?.required || f.peticion.errors?.minlength) }"></textarea>
                                <div *ngIf="f.peticion.dirty && f.peticion.errors?.required" class="text-danger">
                                    Se debe introducir una peticion
                                </div>
                                <div *ngIf="f.peticion.dirty && f.peticion.errors?.minlength" class="text-danger">
                                    La peticion introducida es demasiado corta
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="peticiones-new-form-row">
                    
                        <label for="fecha">Fecha</label>
                        <div>
                            <input type="text" name="fecha" id="fecha"
                                formControlName="fecha" class="text ui-widget-content ui-corner-all" />
                            <div *ngIf="f.fecha.dirty && f.fecha.errors?.required"
                                class="text-danger">
                                Se debe introducir una fecha correcta
                            </div>
                        </div>
                    
                </div>

                <div class="peticiones-new-form-row">
                    
                            <button mat-raised-button type="submit" class="new-peticion-boton"
                                [disabled]="oForm.invalid || oForm.pristine"><i
                                    [ngClass]="oIconService.getIcon('new')"></i>
                                Crear Opinión</button>
                </div>
            </div>    
        </form>
    </div>
</div>

<app-footer></app-footer>