<div class="usuario-new">
  <div class="usuario-new-contenido">
      <h1><i [ngClass]="oIconService.getIcon('new')"></i>Nuevo Género</h1>
      <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()">
          <div>
              <div class="usuario-new-form-row">
                  <label for="genero">Género</label>
                  <div>
                      <div>
                          <div>
                              <input type="text" class="form-control" id="genero" formControlName="genero" class="form-control" required="required"
                                  [ngClass]="{'is-valid' : f.genero.dirty && !(f.genero.errors?.required || f.genero.errors?.minlength) }">
                              <div class="texto-muted" *ngIf="f.genero.dirty && f.genero.errors?.required" class="text-danger">
                                  Se debe introducir un Género de Libro válido
                              </div>
                              <div class="texto-muted" *ngIf="f.genero.dirty && f.genero.errors?.minlength" class="text-danger">
                                  El Género de Libro introducido es demasiado corto
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="usuario-new-form-row">
                  
                          <button mat-raised-button type="submit" class="new-usuario-boton"
                              [disabled]="oForm.invalid || oForm.pristine"><i
                                  [ngClass]="oIconService.getIcon('new')"></i>
                              Crear Usuario</button>
              </div>
          </div>    
      </form>
  </div>
</div>