<div class="opinion-contenedor-row">
    <div class="opinion-contenedor-filtros">
        <form>
            <div class="input-group input-group-sm opinion-contenedor-filtros-diferentes">
                <h3>Buscar por Título de Libro</h3>
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i [ngClass]="oIconService.getIcon('filtro')"
                            (click)="strFilter=''; this.getPage()"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="{{'Filtro de ' + strTitlePlural}}"
                    placeholder="Search" (keyup)="onKeyUpFilter($event)" [(ngModel)]="strFilter" name="buscar"
                    aria-label="Small" aria-describedby="inputGroup-sizing-sm" />
            </div>
                      
                <div class="col-md text-center">
                    <div class="dropdown mb-3">
                      <button class="libro-boton dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Registros por página: {{nPageSize}}
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" (click)="nPageSize=9;getPage()">9</a></li>
                        <li><a class="dropdown-item" (click)="nPageSize=18;getPage()">18</a></li>
                        <li><a class="dropdown-item" (click)="nPageSize=36;getPage()">36</a></li>
                        <li><a class="dropdown-item" (click)="nPageSize=72;getPage()">72</a></li>
                        <li><a class="dropdown-item" (click)="nPageSize=142;getPage()">142</a></li>
                        <li><a class="dropdown-item" (click)="nPageSize=284;getPage()">284</a></li>
                      </ul>
                    </div>
                  </div>
                <div class="col-md paginacion-centrar">
                  <nav aria-label="pagination">
                    <ul class="pagination">
                      <li class="page-item" aria-current="page" *ngFor="let p of aPaginationBar"
                        [ngClass]="{'active': (nPage+'' == p)}">
                        <a class="page-link" (click)="nPage=(+p);jumpToPage()" href="#">{{p}}</a>
                      </li>
                    </ul>
                  </nav>
                </div>
            
        </form>
    </div>
    <div class="opinion-lista-opiniones">
        <div class="libro-view-post" *ngFor="let post of aPosts">
            <div class="post-header">
                <span><i [ngClass]="oIconService.getIcon('libro')"></i>{{post.libro.titulo}}</span>
                <span><i [ngClass]="oIconService.getIcon('usuario')"></i>{{post.usuario.login}}</span>
            </div>
            <div>
                <div class="post-cuerpo">
                    <div>
                        <p>"{{post.titulo}}"</p>
                    </div>
                    <hr>
                    <div>
                        <p>{{post.cuerpo}}</p>
                    </div>
                </div>
            </div>            
            <div class="post-footer">
                
                <span>{{post.fecha_publicacion}}</span>
            </div>
        </div>
    </div>
</div>
