.opinion-contenedor-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:5%;
}

.opinion-lista-opiniones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
  }

.opinion-lista-flex{
    display:flex;
    justify-content: center;
}

.libro-view-post {
    width: 100%;
    background: #111;
    border-radius: 25px;
    margin: 0 0 50px;
}

.post-header {
    height: 50px;
    background-color: #222;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.post-cuerpo {
    width:90%;
    background-color: #333;
    margin: 20px auto;
    padding-bottom:20px;
    font-size: 1.2rem;
}

.post-cuerpo div:nth-child(1) {
    font-size: 1.4rem;
}

.post-cuerpo div{
    padding:15px 15px 0 15px;
}

.post-footer {
    height: 50px;
    background-color: #222;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
}
.post-footer span, .post-header span {
    padding-right: 25px;
}

.post-header span:nth-child(1) {
    padding-left: 30px;
}

hr{
   width: 97%;
   margin: auto;
}

span i {
    margin-right: 15px;
    font-size:1.2rem;
}