/* You can add global styles to this file, and also import other style files */
body {
    margin:0;
    background-image: url("assets/img/fondo-pirata.jpg");
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color:#fff;
}

html, body { height: 100%; }


mat-dialog-container {
    border: 3px solid #262626;
    border-radius: 11px;
    background-color: #1a1a1a;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #2dc60c;
}

