<ul class="menu-bar">
    <li class="menu-logo-margen" [class.active]="strUrl=='/home'" [routerLink]="['/home']">LOGO</li>
    <li [class.active]="strUrl=='/libro'" [routerLink]="['/libro']">Libros</li>
    <li [class.active]="strUrl=='/novedad'" [routerLink]="['/novedad']">Novedad</li>
    <li>Premios</li>
    <li [class.active]="strUrl=='/peticiones'" [routerLink]="['/peticiones']">Peticiones y Sugerencias</li>
    <li [class.active]="strUrl=='/dashboard'" [routerLink]="['/dashboard']" *ngIf="oUsuarioSession?.id==1">Dashboard</li>
    <li [class.active]="strUrl=='/login'" [routerLink]="['/login']" *ngIf="!oUsuarioSession">Login</li>
    <li [class.active]="strUrl=='/logout'" [routerLink]="['/logout']" *ngIf="oUsuarioSession">Logout</li>
    <span *ngIf="oUsuarioSession" [class.active]="strUrl=='/usuario'" [routerLink]="['/usuario/' + oUsuarioSession.id]"><a><i [ngClass]="oIconService.getIcon('usuario')"></i> 
        <small>{{ oUsuarioSession.login }}</small></a>
    </span>
</ul>